* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #1f1f1f;
    background-image: url(/IMAGENES/4060492.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
@font-face {
    font-family: NIEREME;
    src: url(/FONT/font1.woff);
}
h1{
    font-family: NIEREME;
    font-size: 60px;
    height: 80%;
    color: aliceblue;
}
h2{
    color: aliceblue;
    justify-self: center;
}
p{   
    padding-top: 50px;
    text-align: justify;
    color: aliceblue;
    font-weight: bold;
}
/* HEADER CONTENT */
header{
    background-color:rgba(0, 0, 0, 0.7) ;
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-around;
    align-items:center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
    font-size: 20px;    
    position: relative;
}
nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-weight: 700;
}
/* HOME CONTENT */
.Home{
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    background-color:rgba(0,0, 0, 0.7);
    padding:30px 0;        
}   
#HOME_logo{
    grid-row: 1/2;
    grid-column: 2/3;
}
#HOME_text{
    grid-row: 2/3;
    grid-column: 2/3; 
    text-align: center;     
}

/* SERVICES CONTENT */
.Services{      
    height: 700px;
    width: auto;
    background-color: rgba(0, 0, 0, .7 );  
    display: flex;  
    align-items: center;
    justify-content: space-around;
}
.IMAGEN_PLAN{
    padding: 10px,30px;

}
#TITLE{
    display: flex;
    justify-content: space-around;
}

/* CONTACT CONTENT */
#Contact{
    width: 100%;
    height: 1000px;
    background-color: aliceblue;
}   
#Logo{      
    height: 300px;
}