* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #1f1f1f;
    background-image: url(../IMAGENES/4060492.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
h2{
    color: aliceblue;
    justify-self: center;
}
p{   
    padding-top: 50px;
    text-align: justify;
    color: aliceblue;
    font-weight: bold;
}
/* HEADER CONTENT */
header{
    background-color:rgba(63, 63, 63, 0.7) ;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items:center;  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
    font-size: 20px;    
    position: relative;
}
nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-weight: 700;
}
/* HOME CONTENT */
.Home{
    width: auto;
    height: 700px;
    background-color: rgba(22, 22, 22, 1.95 );  
    display: flex;
    justify-content: center;
    align-items: center ;  

    margin-bottom: 50px; 
    }
#TEXT_HOME{     
    padding-right: 20%;
    width: 30%;             
    height: 50%;
    align-self: auto;
}
#IMAGEN_HOME{
    padding-left: 10%;
    margin: 0;
}
/* SERVICES CONTENT */
.Services{      
    height: 700px;
    width: auto;
    background-color: rgba(22, 22, 22, 1.95 );  
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.IMAGEN_PLAN{
    padding: 10px,30px;

}
#TITLE{
    display: flex;
    justify-content: space-around;
}

/* CONTACT CONTENT */
#Contact{
    width: 100%;
    height: 1000px;
    background-color: aliceblue;
}   
#Logo{      
    height: 300px;
}