* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #1f1f1f;
}
header{
    background-color: gray;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items:center;  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: black;
    padding: 10px;

}
.Home{
    height: auto;    
    width: 100%;
    background-color: rgb(255, 0, 0);
    }
#Services{
    height: 1000px;
    width: 100%;
    background-color: rgb(43, 47, 51);
}
#Contact{
    width: 100%;
    height: 1000px;
    background-color: aliceblue;
}   
#Logo{      
    height: 300px;
}
#doce{
    content-visibility: ;
}